html,
body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Halfre,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  font-size: small;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
